@use "mixin";
.shoes-footer {
  @include mixin.flex-management(space-between);
  .shoes-btn {
    width: 100%;
    height: 35px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: #0e75eb;
    color: #ffff;
    border: none;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    align-self: flex-end;
    @include mixin.flex-management(center);
    @include mixin.box-shadow-style();
    outline: none;
    transition: ease-in-out 1s;
    &:hover {
      transform: scaleX(1);
      background-color: rgb(9, 56, 110);
    }
  }
}
